<app-header [isModal]="true" [title]="communication? 'Actualizar Comunicación' : 'Agregar Comunicación'"></app-header>
<ion-content>



    <!-- ========== creationDate ========== -->
    <!-- display-format="DD.MM.YYYY HH:mm" -->

    <!-- <ion-item id="open-modal">
        <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Fecha creación</ion-label>
        <ion-text slot="end"> {{creationDate}} </ion-text>
    </ion-item>
    <ion-modal trigger="open-modal">
        <ng-template>
            <ion-content>
                <ion-datetime #datetime [value]="creationDate" size="cover" (ionChange)="creationDateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker= false;">
                    <ion-buttons slot="buttons">
                        <ion-button (click)="close()">Cancelar</ion-button>
                        <ion-button (click)="select()" color="primary">Seleccionar</ion-button>
                    </ion-buttons>
                </ion-datetime>
            </ion-content>
        </ng-template>
    </ion-modal> -->

    <!-- ========== startDate ========== -->
    <!-- display-format="DD.MM.YYYY HH:mm" -->
    <!-- id="open-modal" -->
    <!-- <ion-item>
        <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Fecha inicio</ion-label>
        <ion-text slot="end"> {{startDate}} </ion-text>
    </ion-item> -->
    <!-- trigger="open-modal" -->
    <!-- <ion-modal>
        <ng-template>
            <ion-content>
                <ion-datetime #datetime [value]="startDate" size="cover" (ionChange)="startDateChanged(datetime.value)" showDefaultButtons="true" (ionCancel)="showPicker= false" ;>
                    <ion-buttons slot="buttons">
                        <ion-button (click)="close()">Cancelar</ion-button>
                        <ion-button (click)="select()" color="primary">Seleccionar</ion-button>
                    </ion-buttons>
                </ion-datetime>
            </ion-content>
        </ng-template>
    </ion-modal> -->



    <!-- ========== Forms ========== -->
    <form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

        <!-- ========== User ========== -->
        <app-custom-input [control]="form.controls.idUser" type="text" label="Usuario"></app-custom-input>

        <!-- ========== creationDate ========== -->
        <app-custom-input [control]="form.controls.creationDate" type="text" label="Fecha Creación"></app-custom-input>

        <!-- ========== Status ========== -->
        <app-custom-input [control]="form.controls.status" type="text" label="Estado"></app-custom-input>

        <!-- ========== startDate ========== -->
        <app-custom-input [control]="form.controls.startDate" type="date" label="Fecha inicio"></app-custom-input>
        <div class="validators" *ngIf="form.controls.startDate.errors && form.controls.startDate.touched">
            <div *ngIf="form.controls.startDate.errors?.['required']">Este campo es requerido</div>
        </div>

        <!-- ========== endDate ========== -->
        <app-custom-input [control]="form.controls.endDate" type="date" label="Fecha Fin"></app-custom-input>
        <div class="validators" *ngIf="form.controls.endDate.errors && form.controls.endDate.touched">
            <div *ngIf="form.controls.endDate.errors?.['required']">Este campo es requerido</div>
        </div>

        <!-- ========== Estate ========== -->
        <ion-list>
            <ion-item>
                <ion-select label="Unidad" aria-label="unidad" name="form.controls.idEstate" [compareWith]="compareWith" placeholder="Seleccione Unidad" (ionChange)="handleChangeEstate($event)">
                    <ion-select-option *ngFor="let estate of listEstates" [value]="estate">{{ estate.name }}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div class="validators" *ngIf="form.controls.idEstate.errors && form.controls.idEstate.touched">
            <div *ngIf="form.controls.idEstate.errors?.['required']">Este campo es requerido</div>
        </div>


        <!-- ========== communicationType ========== -->
        <ion-list>
            <ion-item>
                <ion-select label="Tipo Comunicación" aria-label="Lct" name="form.controls.idCommunicationType" [compareWith]="compareWith" placeholder="Seleccione tipo" (ionChange)="handleChangeCommunicationType($event)">
                    <ion-select-option *ngFor="let lct of listCommunicationType" [value]="lct">{{ lct.description }}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <div class="validators" *ngIf="form.controls.idCommunicationType.errors && form.controls.idCommunicationType.touched">
            <div *ngIf="form.controls.idCommunicationType.errors?.['required']">Este campo es requerido</div>
        </div>

        <!-- ========== title ========== -->
        <app-custom-input autocomplete="title" [control]="form.controls.title" type="text" label="Título"></app-custom-input>
        <div class="validators" *ngIf="form.controls.title.errors && form.controls.title.touched">
            <div *ngIf="form.controls.title.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.title.errors?.['maxLength']">El campo debe tener máximo 100 caracteres</div>
        </div>

        <!-- ========== introduction ========== -->
        <app-custom-input autocomplete="introduction" [control]="form.controls.introduction" type="textarea" label="Introducción"></app-custom-input>
        <div class="validators" *ngIf="form.controls.introduction.errors && form.controls.introduction.touched">
            <div *ngIf="form.controls.introduction.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.introduction.errors?.['maxLength']">El campo debe tener máximo 200 caracteres</div>
        </div>

        <!-- ========== body ========== -->
        <app-custom-input autocomplete="body" [control]="form.controls.body" type="textarea" label="Descripción"></app-custom-input>
        <div class="validators" *ngIf="form.controls.body.errors && form.controls.body.touched">
            <div *ngIf="form.controls.body.errors?.['required']">Este campo es requerido</div>
            <div *ngIf="form.controls.body.errors?.['maxLength']">El campo debe tener máximo 500 caracteres</div>
        </div>

        <!-- ========== urlAttachmentDocument ========== -->
        <app-custom-input autocomplete="urlAttachmentDocument" [control]="form.controls.urlAttachmentDocument" type="text" label="Adjuntar"></app-custom-input>
        <div class="validators" *ngIf="form.controls.urlAttachmentDocument.errors && form.controls.urlAttachmentDocument.touched">
            <div *ngIf="form.controls.urlAttachmentDocument.errors?.['required']">Este campo es requerido</div>
        </div>

        <!-- ========== signature ========== -->
        <app-custom-input autocomplete="signature" [control]="form.controls.signature" type="text" label="Firma"></app-custom-input>
        <div class="validators" *ngIf="form.controls.signature.errors && form.controls.signature.touched">
            <div *ngIf="form.controls.signature.errors?.['required']">Este campo es requerido</div>
        </div>


        <!-- ========== Button ========== -->
        <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
            {{communication? 'Actualizar Comunicación' : 'Agregar Comunicación'}}
            <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-button>


    </form>
    <!-- {{form. value | json}} -->
</ion-content>