<app-header title="Inicio Visitas"></app-header>

<ion-content>
    <!-- ========== New visit ========== -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addUpdateVisit()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="signOut()">
        Cerrar sesión
    </ion-button>
</ion-content> -->