<app-header title="Inicio Productos"></app-header>

<ion-content>

    <!-- Creamos una lista con los vinculos a los componentes creados en inicio.page.ts -->
    <ion-list>
        <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
            <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
            {{c.name}}
        </ion-item>

    </ion-list>


    <!-- Este botón llamará un nuevo producto -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addUpdateProduct()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>

<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-button (click)="signOut()">
        Cerrar sesión
    </ion-button>
</ion-content> -->